@model List<OnlineSupermarket.Domain.Identity.ApplicationUser>

<h1 class="mb-3 ml-2">Users:</h1>

<div class="container">


    <div class="m-0 mb-2">
        <a class="btn btn-outline-success m-0" asp-controller="Role" asp-action="CreateRole">Create a new Role</a>
    </div>


    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">User</th>
                    <th scope="col" class="text-center">Role Management</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Count.Equals(0))
                {
                    <tr>
                        <td colspan="6" style="font-weight: bold; text-transform: uppercase; text-align: center;">No Users in Database</td>
                    </tr>
                }


                @{
                    int userRows = 0;
                }

                @for (int i = 0; i < Model.Count; i++)
                {
                    var user = Model[i];

                    @if (user.Email.Equals(User.Identity.Name))
                    {
                        continue;
                    }
                    <tr>

                        <td>@user.Email</td>
                        <td colspan="5" class="text-center">
                            @if (user.Role.Equals("User"))
                            {
                                <a class="btn btn-outline-success" asp-route-id="@user.Id" asp-action="GrantAdmin">Grant Admin Privileges</a>
                                <a class="btn btn-outline-danger disabled" asp-route-id="@user.Id" asp-action="RemoveAdmin">Remove Admin Privileges</a>
                            }
                            else
                            {
                                <a class="btn btn-outline-success disabled" asp-route-id="@user.Id" asp-action="GrantAdmin">Grant Admin Privileges</a>
                                <a class="btn btn-outline-danger" asp-route-id="@user.Id" asp-action="RemoveAdmin">Remove Admin Privileges</a>
                            }
                        </td>
                    </tr>

                    userRows++;

                }

                @if (userRows.Equals(0))
                {
                    <tr>
                        <td colspan="6" style="font-weight: bold; text-transform: uppercase; text-align: center;">No Other Users in Database</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
